register-app/src/main/java/com/aggregator/HandlingReportService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HandlingReportServiceService" targetNamespace="http://ws.handling.interfaces.dddsample.citerus.se/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.handling.interfaces.dddsample.citerus.se/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.handling.interfaces.dddsample.citerus.se/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.handling.interfaces.dddsample.citerus.se/">
    <xs:element name="submitReport" type="tns:submitReport"/>
    <xs:element name="submitReportResponse" type="tns:submitReportResponse"/>
    <xs:complexType name="submitReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="tns:handlingReport"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="handlingReport">
        <xs:sequence>
            <xs:element name="completionTime" type="xs:dateTime"/>
            <xs:element maxOccurs="unbounded" name="trackingIds" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="unLocode" type="xs:string"/>
            <xs:element minOccurs="0" name="voyageNumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="submitReportResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="HandlingReportErrors" type="tns:HandlingReportErrors"/>
    <xs:complexType name="HandlingReportErrors">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="HandlingReportErrors">
    <wsdl:part name="HandlingReportErrors" element="tns:HandlingReportErrors">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitReport">
    <wsdl:part name="parameters" element="tns:submitReport">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitReportResponse">
    <wsdl:part name="parameters" element="tns:submitReportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HandlingReportService">
    <wsdl:operation name="submitReport">
      <wsdl:input name="submitReport" message="tns:submitReport">
    </wsdl:input>
      <wsdl:output name="submitReportResponse" message="tns:submitReportResponse">
    </wsdl:output>
      <wsdl:fault name="HandlingReportErrors" message="tns:HandlingReportErrors">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HandlingReportServiceServiceSoapBinding" type="tns:HandlingReportService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="submitReport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="submitReport">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitReportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="HandlingReportErrors">
        <soap:fault name="HandlingReportErrors" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HandlingReportServiceService">
    <wsdl:port name="HandlingReportServicePort" binding="tns:HandlingReportServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/HandlingReportServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
